@import "themes";
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html, body {
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
	font-family: Roboto, Arial, sans-serif;
}
